:root{
    --main-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --main-color: #212121;
    --secondary-color:#757575;
    --color-accent: #2196F3;
    --color-accent-2: #FFFFFF;
    --main-background:#2F303A;
    --super-black-color:#000;
    --link-color:#757575;
    --icon-color:#afb1b8;
}

.body{
    font-family:var(--main-font);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
  }
  
ul {
    list-style: none;
  }

h1, 
h2, 
h3,
h4, 
p{
    margin:0;
}

ul{
    padding: 0;
    margin:0;
}

img{
    display: block;
}

.container{
    width:1200px;
    padding:0 15px;
    margin: auto;
}


.section{
    padding: 94px 0px;
}
/*===========Header========*/

.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
}

.header .container{
    display:flex;
    align-items: center;
}

.header .logo{
    margin-right: 93px;
}

.logo{
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;  
    line-height: 1.192;
    letter-spacing: 0.03em;
}

.header .contacts-header{
    margin-left: auto;
}

.header .address{
    margin-left: auto;
}

.address{
    display: flex;
}


.navigation-list-item:not(:last-child),
.contacts-header-item:not(:last-child){
    margin-right: 50px;
}


.navigation{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
}

.navigation-text{
    color:var(--main-color);  
    letter-spacing: 0.03em;
}

.email-header,
.phone-header{
    color:var(--secondary-color);
}

.navigation-text,
.email-header,
.phone-header{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.list{
    list-style-type: none;
}


.contacts-header-item .link:hover,
.contacts-header-item .link:focus{
    color: #2196F3;
 }

 .current{
     color: #2196F3;
 }

.header-mail-icon{
    margin-right:10px;
    width:16px;
    height:12px;
    fill:var(--link-color);
}

.header-tel-icon{
    margin-right: 10px;
    width:10px;
    height:16px;
    fill:var(--link-color);
}

.email-header:hover .header-mail-icon,
.email-header:focus .header-mail-icon,
.phone-header:hover .header-tel-icon,
.phone-header:focus .header-tel-icon{
    color:var(--color-accent);
    fill:var(--color-accent);
}
/*==========End Header=========*/
/*===========Booking =====*/

.booking-section{   
    background-color: var(--main-background);
    background-image:  url(../images-2/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.booking-section-part{
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.visually-hidden {
    font-family: var(--main-font);
    font-weight: 700;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.main-title{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-accent-2);
    margin-bottom: 30px;
    width: 696px;
}

.booking-section .button{
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px rgba(0,0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    padding:10px 32px;
    margin:auto;
    align-items: center;
}

 .button{
    font-family: var(--main-font);
    color: var(--color-accent-2);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2196F3;

 }
/*===========End Booking=====*/

/*===========Characteristics=====*/


.characteristics-section{
    padding-top: 94px;
}

.characteristics-section-list{
    display: flex;
}

.service-charactestics:not(:last-child){
    margin-right: 30px;
}

.service-characteristics::before{
    content:'';
    display:block;
    height: 120px;
    background-position:center;
    background-repeat:no-repeat;
    background-color:#f5f4fa;
    margin-bottom:30px;
}

.icon-antenna::before{
    background-image:url(../various_icons/logo1.svg);
}

.icon-clock::before{
    background-image:url(../various_icons/logo2.svg);
}

.icon-diagram::before{
    background-image:url(../various_icons/logo3.svg);
}

.icon-astronaut::before{
    background-image:url(../various_icons/logo4.svg);
}


.undertitle{
    font-family: var(--main-font);
    font-style:normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color:var(--main-color);
    letter-spacing: 0.03em;
    margin-bottom:50px;
}

.character-name{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color:var(--main-color);
    letter-spacing: 0.03em;
    margin-bottom:10px;
}
.service-item-description{
    font-family: var(--main-font);
    font-weight:400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-color);
    letter-spacing: 0.03em;
}

.service-image{
    display: flex;
}

.service-depiction-item:not(:last-child){
    margin-right: 30px;
}

.service-characteristics:not(:last-child){
    margin-right: 30px;
}

.about-services{
    padding-top:94px;
}

.about-services .list{
    display: flex;
}

.service-depiction-item:not(:last-child){
    margin-right: 30px;
}

.service-charactestics .character-name{
    margin-bottom: 10px;
}



  /*===========End Characteristics=====*/

/* OUR TEAM*/
.team-section{
    background-color:#f5f4fa;
}

.team-list{
    display:flex;
}

.member-name,
.position{
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.member-name{
    font-weight:500;
    color:var(--main-color);
    margin-bottom: 10px;
    text-align: center;
}

.position{
    font-weight:400;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.1876;
    text-align: center;
    margin-bottom: 30px;
}

.team-list{
    display: flex;

}

.member-info:not(:last-child){
    margin-right: 30px;
}

.team-list{
width: 270px;
height: 368px;
}

.about-each-member{
    padding: 30px 10px;
    background: #FFFFFF;
    height: 108px;
}


/* end of the OUR TEAM*/
/* Footer*/

.footer{
    background:var(--main-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.contacts-footer-item{
    flex-direction: column;
    display:flex;
}

.address-footer,
.email-footer,
.phone-footer{
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 0.6);
}

.address-footer:hover,
.email-footer:hover,
.phone-footer:hover{
    color:#FFFFFF ;
}

.footer .list{
    margin-top: 20px;
}


.contacts-footer-item:not(:last-child){
    margin-bottom: 9px;
}



.link{
    font-style:normal;
}
/* End of Studio-design */

/* beginning of portfolio design*/

.button-name{
    background-color:#F5F4FA;
    font-family: var(--main-font);
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color:var(--main-color);
    border:none;
    padding:6px 22px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    height: 38px;
    justify-content: center;

}

.button-item:not(:last-child){
    margin-right: 8px;
}

.portfolio-image-list{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 0px;

}


.project-info-list{
    background:var(--color-accent-2);
    border:1px solid #eee;
    margin-bottom: 30px;
}
.button-list{
    display:flex;
    margin-bottom: 50px;
    height: 38px;
    justify-content: center;
}


.project-illustration{
    padding: 20px 24px;
}
    

.button-name:hover{
    background-color:var(--color-accent);
    color:#FFFFFF;
}

  
.project-name{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color:var(--main-color);
    letter-spacing: 0.06em;
}

.project-link{
    font-family: var(--main-font);
}
  
.area {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.address-footer{
    color: #FFF;
}

/* end of portfolio*/